<div class="container">
    <div class="dashboard-name">
        Dashboard
    </div>
    <div class="date">
        {{date| date: 'EEEE, d MMM y'}}
    </div>
    <div class="greeting">
        {{greetMsg}}, Sourav
    </div>
    <div class="info-bar">
        <span>
            <select name="range" id="priority" class="range-dropdown">
                <option value=1>Week</option>
                <option value=2>Month</option>
            </select></span>
        <span><i style="color: green;" class="fa-regular fa-circle-check icon"></i> {{taskCount.completedTask}} Task
            Completed </span>
        <span><i style="color: rgb(103, 103, 103);" class="fa-regular fa-circle-check icon"></i>
            {{taskCount.totalTask-taskCount.completedTask}} Task Assigned</span>
    </div>
    <div class="task-list">
        <app-task-list #taskList [heading]=" 'My Priority'" [subHeading]="'(Next 3 day\'s priority)'"
            (toggleShowModal)="showModal = !showModal" (taskCount)="updateCount($event)">
        </app-task-list>
    </div>
    <div class="task-list">
        <app-task-list [heading]=" 'Today\'s Task'" (toggleShowModal)="showModal = !showModal">
        </app-task-list>
    </div>
    <div class="task-list">
        <app-task-list [heading]=" 'Later Task'" (toggleShowModal)="showModal = !showModal">
        </app-task-list>
    </div>
</div>