.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 156px 1fr;
    grid-template-rows: 45px 1fr 42px;
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #044d66;
}

.side-panel {
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: 2px solid #1e507f;
    background-color: #044d66;
    display: flex;

}

.navbar-element {
    margin: auto 12px;
    /* flex-direction: row; */
    display: inline-block;
}

.hamburger-icon {
    font-size: 36px;
    color: white;
}

.footer {
    border: 2px solid #1e507f;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: sticky;

}

.dashboard {
    width: 100%;
    overflow-y: scroll;
}