.side-panel-container {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    height: 100%;
}

.side-panel-option {
    margin-top: 6px;
}

.side-panel-option:last-child {
    margin-top: auto;
    bottom: 0;
}

.side-panel-option:hover {
    font-weight: 600;
}