/* You can add global styles to this file, and also import other style files */
$base-color: #c6538c;

* {
    margin: 0;
    /* transition: 300ms; */
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.dashboard-name {
    font-size: 22px;
    padding: 12px 0px 12px 16px;
}