<div class="container">
    <app-modal-box *ngIf="showModal" (toggleModal)="showModal=false" (updateTask)="getData()">
    </app-modal-box>
    <span class="dashboard-name" (click)="getData()">{{heading}}</span><span
        style="font-size: 12px;">{{subHeading}}</span><i class="fa-solid fa-circle-plus"
        style="color: green;cursor: pointer;margin-left: 6px;" (click)="showModal = !showModal"></i>
    <div *ngFor="let taskItem of taskList">
        <app-task [item]="taskItem" (updateTaskData)="getData()"></app-task>
    </div>
</div>