<div class="container">
    <app-modal-box *ngIf="showModal" (toggleShowModal)="showModal = !showModal"></app-modal-box>
    <div class="dashboard-name">
        Dashboard
    </div>
    <div class="task-list">
        <app-task-list [heading]=" 'My Priority'" (toggleShowModal)="showModal = !showModal">
        </app-task-list>
    </div>
    <div class="task-list">
        <app-task-list [heading]=" 'Today\'s Task'" (toggleShowModal)="showModal = !showModal">
        </app-task-list>
    </div>
    <div class="task-list">
        <app-task-list [heading]=" 'Later Task'" (toggleShowModal)="showModal = !showModal">
        </app-task-list>
    </div>
</div>